$tablet-breakpoint: 768px; 
$desktop-breakpoint: 1280px;

$color-black: #000000;
$color-white: #FFFFFF;
$color-label: #BCBCBC;
$color-input: rgba(0, 0, 0, .6);
$color-cta: #B0BAC3;
$color-turqoise: #00FEFB;
$color-blue: #1786F9;
$gradient-main: linear-gradient(#058DD3, #00FEC9);