@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.translate-container {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

    @include tablet {
        margin-top: 10rem;
    }
}

.translate {
    margin-inline: 2rem;
    height: 30rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;

    @include tablet {
        flex-direction: row;
        margin-inline: 6rem;
        height: 25rem;
    }

    @include desktop {
        margin-inline: 12rem;
    }

    &__clear--icon {
        position: absolute;
        top: 14.45rem;
        right: 1.84rem;
        height: 1rem;
        cursor: pointer;

        @include tablet {
            top: 2.1rem;
            right: 4.5rem;
        }

        @include desktop {
            right: 47.55rem;
        }
    }

    &__input {
        background-color: $color-black;
        width: 100%;
        height: 50%;
        border-radius: 20px 20px 0 0;
        border-bottom: 0.5px solid $color-dark-gray;
        display: flex;

        @include tablet {
            height: 100%;
            border-radius: 20px 0 0 20px;
            border-bottom: none;
            border-right: 0.5px solid $color-dark-gray;
        }

        &::-webkit-scrollbar {
            display: none; 
        }

        &--value {
            color: $color-white;
            font-size: 1rem;
            resize: none;
            background-color: transparent;
            border-radius: 20px 20px 0 0;
            border: none;
            padding: 2rem;
            width: 87%;
            height: 100%;

            @include tablet {
                width: 100%;
                padding-top: 5rem;
            }

            &::-webkit-scrollbar {
                display: none; 
            }

            &::placeholder {
                color: $color-translate;
                font-size: 1rem;
            }

            &:focus {
                outline: none;
            }
        }

        &--icon {
            position: absolute;
            height: 1rem;
            right: 1.79rem;
            top: 2.2rem;
            cursor: pointer;

            @include tablet {
                right: 0;
                left: 1.79rem;
            }
        }
    }

    &__output {
        background-color: $color-black;
        width: 100%;
        height: 50%;
        border-radius: 0 0 20px 20px;
        overflow-y: auto;
        display: flex;

        @include tablet {
            height: 100%;
            border-radius: 0 20px 20px 0;
        }

        &::-webkit-scrollbar {
            display: none; 
        }

        &--value {
            color: $color-white;
            font-size: 1rem;
            resize: none;
            background-color: transparent;
            border-radius: 20px 20px 0 0;
            border: none;
            padding: 2rem;
            width: 87%;
            height: 100%;
            margin-bottom: 2rem;
            word-break: break-word;
            overflow-y: auto; 

            @include tablet {
                width: 100%;
                padding-top: 5rem;
            }

            &::-webkit-scrollbar {
                display: none; 
            }
        }

        &--icon {
            position: absolute;
            height: 1rem;
            right: 1.79rem;
            bottom: 2.2rem;
            cursor: pointer;

            @include tablet {
                bottom: 0;
                top: 2.2rem;
            }
        }
    }
}

.controls {
    position: relative;
    margin-inline: 2rem;
    height: 6.5rem;
    border: 1px solid transparent; 
    border-radius: 20px; 
    margin-block: 2rem;
    background-color: $color-black;

    @include tablet {
        margin-inline: 6rem;
    }

    @include desktop {
        margin-inline: 16rem;
    }

    &__content {
        height: 100%;
        width: 100%;
        background-color: $color-black;
        display: flex;
        align-items: center;
        border-radius: 20px;
        padding-block: 1rem;
    }

    &__target-language {
        margin-left: 2rem;

        &--subtitle {
            color: $color-translate;
            font-size: 0.9rem;
            font-weight: 300;
        }

        &--value {
            color: $color-translate;
            font-size: 0.9rem;
            font-weight: 500;
            display: flex;
            align-items: center;
            cursor: pointer;
        }

        &--icon {
            rotate: 270deg;
            height: 1.2rem;
            margin-left: 0.3rem;
            margin-bottom: 0.1rem;
        }
    }

    &__group {
        display: flex;
        margin-left: auto;
    }

    &__microphone, &__stop {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.2rem;
        cursor: pointer;
        border: none; 

        &--wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: $color-black;
            z-index: 1;
        }
    
        &--icon {
            height: 1.1rem;
            margin: 0.8rem 1rem;
            z-index: 10; 
        }
    
        &:before {
            content: '';
            position: absolute;
            top: -1px; 
            right: -1px;
            bottom: -1px;
            left: -1px;
            background: $gradient-main;
            border-radius: 50%; 
            z-index: 1; 
        }
    }
}

.save-button {
    margin-inline: auto;
    margin-bottom: 3rem;
    font-size: 1rem;
    font-weight: 500;
    width: 9.125rem;
    height: 2.7rem;
    border-radius: 20px;
    border: 1px solid transparent;
    background: linear-gradient(180deg, #058DD3 0%, #00FEC9 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    transition: background 0.8s ease, box-shadow 0.2s ease;
    cursor: pointer;

    &:hover {
        box-shadow: none;
        background: white;
        color: black;
        border: 1.9px solid $color-turqoise;
    }
}

.translate, .controls, .save-button {
    position: relative;
    z-index: 1;
    background: $color-black;
    border-radius: 20px;

    &:before {
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        z-index: -1;
        background: $gradient-main;
        border-radius: inherit;
    }
}
