@use "../src/styles/partials/global" as *;
@use "../src/styles/partials/variables" as *;

body {
  background-image: url("../src/assets/images/black-design-background.png");
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
}